body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#loading,
#error {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}

#loading {
    background-image: url(https://i.gifer.com/embedded/download/CVyf.gif);
}

#error {
    display: none;
    background-image: url(https://icon-icons.com/downloadimage.php?id=93497&root=1380/PNG/256/&file=vcsconflicting_93497.png);
}
